body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: blue;
}

.container { 
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-wrap: wrap;
  gap: 1em;
}

.a, .b, .c, .d, .e, .f {
  background-color: rgb(255, 255, 255);
  border: solid coral;
}

.a, .b, .f {
  width: 100%;
}

.a, .c, .d, .e, .f {
  height: 20vh;
}

.b {
  height: 40vh;
}

.c, .d, .e {
  flex-grow: 1;
}

@media (min-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

.a {
  grid-row: 1;
  grid-column: 1/5;
}

.b { 
  grid-column: 1/4;
}

.f {
  grid-row: 2/4;
  grid-column: 4;
}

.a, .c, .d, .e, .f {
  width: 100%;
  height: 100%;
}



}